body{
    color: white;
    background-color: lightblue;
    background-image: url("https://cdn.wallpapersafari.com/17/21/hx5Fdt.jpg");
    background-size: cover;
    background-repeat: repeat;
    text-decoration: none;
    list-style: none;
}