*{
    list-style: none;
    text-decoration: none;
}

body{
    color: white;
    background-color: lightblue;
    background-image: url("../images/oriental-tiles.png");
    background-repeat: repeat;
}
