body{
    color: white;
    text-align: center;
    background-color: lightblue;
    background-image: url("https://image.shutterstock.com/image-photo/beautiful-cat-outer-space-elements-260nw-309881792.jpg");
}